.console {
  font-family: monospace, monospace;
  font-size: 75%;
  white-space: pre-wrap;
  overflow-wrap: anywhere;
  overflow-y: scroll;
  height: 10rem;
}

.console-row {
  display: flex;
}

.console-time {
  flex-grow: 0;
  width: 4em;
  text-align: end;
  margin-right: .5rem;
}

.console-message {
  flex-grow: 1;
}

.console-message a {
  cursor: pointer;
}

.console-message a:hover {
  text-decoration: underline;
}

.console-info {
  color: black;
}

.console-sys {
  color: #386EC1;
}

.console-error {
  color: #bf0606;
}

.console-exception {
  border: 1px solid #f4e4e4;
  background: #fff3f3;
  border-radius: .3em;
  padding: .05em .25em;
  color: #370000;
}
