.console {
  white-space: pre-wrap;
  font-family: monospace, monospace;
  overflow-wrap: anywhere;
  overflow-y: scroll;
  height: 10rem;
}

.console-row {
  display: flex;
}

.console-time {
  flex-grow: 0;
  width: 4em;
  text-align: end;
  margin-right: .5rem;
}

.console-message {
  flex-grow: 1;
}

.console-info {
  color: black;
}

.console-sys {
  color: #386EC1;
}

.console-error {
  color: #bf0606;
}